@import "_variables";
@import "_mixins";
@import "~bootstrap/scss/bootstrap";

@import "typography";
@import "video";
@import "themeToggle";
@import "logo";
@import "btn";
@import "pdf";
@import "modal";
@import "playlist";

body,
nav,
.logo {
	transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

body.dark {
	background-color: $body-bg-dark;
	color: $body-color-dark;

	hr {
		border-color: darken($primary, 0%);
	}

	ul.pagination {
		a.page-link {
			background-color: #333a40;
			border-color: lighten(#333a40, 25%);

			&:hover {
				color: lighten($primary, 25%);
				background-color: lighten(#333a40, 10%);
			}
		}
	}
}

a[href]:hover {
	text-decoration: none;
}

.btn:hover {
	a[href],
	a[href]:hover {
		color: inherit;
	}
}

@include respond-above(md) {
	.w-md-25 {
		width: 25% !important;
	}
	.w-md-50 {
		width: 50% !important;
	}
	.w-md-75 {
		width: 75% !important;
	}
	.w-md-100 {
		width: 100% !important;
	}
}

@include respond-above(lg) {
	.w-lg-25 {
		width: 25% !important;
	}
	.w-lg-50 {
		width: 50% !important;
	}
	.w-lg-75 {
		width: 75% !important;
	}
	.w-lg-100 {
		width: 100% !important;
	}
}

ul.pagination {
	padding: 0;
	margin: 0;
}

.home-picture {
	border-radius: 2px;
	border: 2px solid $primary;
}

.cursor-pointer {
	cursor: pointer !important;
}

body.dark {
	.home-picture {
		// border-color: white;
	}
}
