.logo {
	width: 100%;
	height: auto;
	max-width: 286px;
	max-height: 50px;

	@include respond-below(md) {
		max-width: 100px;
	}

	.text {
		fill: rgba($body-color, 1);
		stroke: rgba($body-color, 1);
		stroke-width: 1px;
		max-width: 100%;
	}

	.holly-leaf-center {
		fill: darken($primary, 10%) !important;
	}

	.holly-leaf {
		fill: $primary !important;
	}

	.holly-balls {
		fill: $holly-red !important;
	}
}

body.dark {
	.logo {
		.text {
			fill: rgba($body-color-dark, 1);
			stroke: rgba($body-color-dark, 1);
			stroke-width: 0.25px;
		}

		.holly-leaf-center {
			fill: darken($primary, 20%) !important;
		}
	}
}
