@import "_variables";
@import "~plyr/dist/plyr.css";

// For a future update:
body {
	--plyr-color-main: $primary;
}

.plyr--full-ui input[type="range"] {
	color: $primary !important;
}

.plyr__control--overlaid {
	background: rgba($primary, 0.8) !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded="true"] {
	background: $primary !important;
}

.plyr__control.plyr__tab-focus {
	box-shadow: 0 0 0 5px rgba($primary, 0.5) !important;
}

.plyr__menu__container
	.plyr__control[role="menuitemradio"][aria-checked="true"]::before {
	background: $primary !important;
}

.plyr--stopped .plyr__controls {
	opacity: 0;
}
