.theme-icon {
	cursor: pointer;
	fill: $theme-toggle-light-icon;

	.animatable {
		will-change: transform;
		transform: translate(15px, 0);
		transition: transform 400ms ease-in, fill 0.3s ease-in-out;
		fill: $theme-toggle-light-bg;
	}
}

body.dark {
	.theme-icon {
		fill: $theme-toggle-dark-icon;

		.animatable {
			transform: translate(0, 0);
			fill: $theme-toggle-dark-bg;
		}
	}
}
