.video-meta {
	font-size: 80%;
	white-space: nowrap;
	overflow-x: scroll;

	li {
		background-color: darken($light, 10%);
		text-transform: capitalize;

		b {
			border-radius: 0 20px 20px 0;
			padding-left: 0.5em;
			padding-right: 1em;
			display: inline-block;
			background-color: $primary;
			font-weight: 400;
			text-transform: uppercase;
			color: $white;

			svg {
				font-weight: normal;
				color: inherit;

				height: 12px;
				width: 12px;

				@media (max-resolution: 96dpi) {
					display: none !important;
				}

				@include respond-between(xs, sm) {
					margin-bottom: 2px;
					margin-top: 2px;
				}

				@include respond-above(md) {
					margin-bottom: 2px;
				}
			}
		}

		span {
			margin-left: -3px;
			padding-left: 0.5em;
			padding-right: 0.5em;
			display: inline-block;
			background-color: darken($light, 10%);
		}
	}
}

.video-thumbnail,
.video-player {
	cursor: pointer;
	overflow: hidden;
	position: relative;

	transition: border 0.2s ease-in-out;
	border: 2px solid $primary;
	border-radius: 2px;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&:hover {
		border-color: #bababa;
	}

	.video-play-button {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		// pointer-events: none;

		display: flex;
		align-items: center;
		justify-content: center;

		.play-button-icon {
			cursor: pointer;
			pointer-events: all;
			margin-right: 5px;
			font-size: 16px;

			.play-icon-triangle {
				stroke: $primary !important;
				stroke-width: 2 !important;
			}

			&:hover {
				.play-icon-triangle {
					stroke: #bababa !important;
					fill: darken($body-bg-dark, 5%) !important;
				}
			}

			@include respond-below(md) {
				font-size: 12px;
			}
		}
	}
}

body.dark {
	.video-meta {
		li {
			background-color: darken($light, 50%);

			b {
				// background-color: $primary;
				background-color: #0f6964;
				color: $body-color-dark;
				font-weight: 500;
			}

			span {
				background-color: darken($light, 50%);
			}
		}
	}
}

// Someone needs to volunteer to go & suck this guy's dick - fucking legend
// https://stackoverflow.com/a/25975282/10298824
_::-webkit-full-page-media,
_:future,
:root .video-meta li b svg {
	@include respond-above(xs) {
		margin-bottom: 2px;
	}

	margin-bottom: 1px;
}
